<%= provide(:title, 'Corporate - SupportSages') %>
<%= provide(:center_header, 'Corporate') %>
<%= provide(:ourphilosophy,'Our Philosophy')%>
<%= stylesheet_link_tag 'store/corporate' %>

<div class="container-fluid">
        <div class="container">
            <div class="row">
                <%= render :partial => 'side_menu' %>
                <div class="span9">
                    <div id="draggableboxes">
                        <div id="ib-main-wrapper" class="ib-main-wrapper">
                            <div class="ib-main">
                                <a href="#" class="ib-content">
                                    <div id="behumane" class="ib-teaser">
                                        Be Humane
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>1</p></div>
                                        <h2>Be Humane</h2>
                                        <p>
                                            SupportSages is its people. The language of customer service should speak to the heart. Hence we hire candidates who can joke, laugh, hug and weep with a distressed one, along with solid technical and language skills. The willingness to satisfy the needs of another human being is reflected in everything we do. We are empathetic and have an inherent interest in helping people unreservedly, even if it requires to push frontiers of job description. This makes happy, proud and satisfied relationships with each one, whether it is a staff, customer or walk-in sales man, with whom we associate. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="ignorance_is_not" class="ib-teaser">
                                        Ignorance is not a crime, Inertia is
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>2</p></div>
                                        <h2>Ignorance is not a crime, Inertia is</h2>
                                        <p>
                                            We hire exceptional talents. While hiring, we don't mind whether the candidate is a back bencher with a long list of arrears. If we feel the spark in them, they are inducted. Our focused and time proven training process equips them to perceive correct guidelines for every challenges a client may face. The team motto "Sharing Expertise" ensures that every question in the team is cleared with the required expertise. This makes them truly challenging and makes the talent pool a cocktail of expertise. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="be_what_you_are" class="ib-teaser">
                                        Be What You are
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>3</p></div>
                                        <h2>Be What You are</h2>
                                        <p>
                                            Profound  confidence in their knowledge, skills and expertise enables each sage to be the “eye of the storm” on turbulent occasions. Whether it is an agitated customer or a severe DDOS, you will never find a sage at sea. Extensive experience, training and quest for quality enables the tech to take informed decisions based on objective analysis instead of an emotional or assumptive one. This ensures robust, reliable service to clients without any room for error. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="dare_to_speak" class="ib-teaser">
                                        dare to speak the truth 
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>4</p></div>
                                        <h2>dare to speak the truth</h2>
                                        <p>
                                            Being humans, we too are prone to mistakes. We admit our mistakes to re-evaluate and develop strategies to prevent it from re-occuring . Nothing can stop us from speaking the truth. We are honest and frank, hence the clients may not hear only what they want to hear. Hard facts are always difficult to digest and this may make some clients unhappy initially. But our long successful, cherished and inseparable partnerships with them at later time underlines the veracity of the statement “Truth always Triumphs” 
            
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="impossible_is_not_poss" class="ib-teaser">
                                        impossible is not possible
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>5</p></div>
                                        <h2>impossible is not possible</h2>
                                        <p>
                                            Keeping promises and commitments without excuses is part of our DNA. For us, Customer service is a way of thinking. Each sage gets moulded as an achiever through focused training and accessible resources. This enables him to feel the words “no” and  “impossible” as challenges — not as answers. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="excellence_is_a_habit" class="ib-teaser">
                                        Excellence is a habit
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>6</p></div>
                                        <h2>Excellence is a habit</h2>
                                        <p>
                                            Success is derived from people of great attitude, passion and dedication. Everything we do is driven by an unyielding passion for excellence and an unfaltering commitment to make it repeat. We inspire our customers and competitors with the way we make excellence a habit. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="keep_reinventing_yourself" class="ib-teaser">
                                        Keep Reinventing yourself 
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>7</p></div>
                                        <h2>Keep Reinventing yourself</h2>
                                        <p>
                                            Each sage keeps his proficiency level improved by periodic evaluation and training. This makes them confident to stand unfazed during critical challenges. Each challenge brings out the maximum potential and out-performs set expectations. This converts a sage to a leader of their own capacity who exemplifies our values and leads us to grow and win. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="temporary_is_permanent" class="ib-teaser">
                                        Temporary is not permanent
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>8</p></div>
                                        <h2>Temporary is not permanent</h2>
                                        <p>
                                            We never believe in providing half cooked solutions for the namesake. The streamlined delivery model privileges each sage to escalate issues to higher levels to ensure complete solutions of the expected quality. Our policy of zero tolerance to temporary solutions makes returns in the form of permanent customer relationships. 
                                        </p>
                                    </div>
                                </a>
                                <a href="#" class="ib-content">
                                    <div id="the_cutomer_is_our" class="ib-teaser">
                                        The customer is our extension
                                    </div>
                                    <div class="ib-content-full">
                                        <div id="box_no"><p>9</p></div>
                                        <h2>The customer is our extension</h2>
                                        <p>
                                            Each client and their business are integral part of our world. We empower our customers at every step through dedicated support which is guided by moral compass of fairness, respect and complete transparency.
                                        </p>
                                    </div>
                                </a>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="final"></div>


<%= javascript_include_tag 'store/jquery.tmpl.min' %>
<%= javascript_include_tag 'store/jquery.kinetic' %>
<%= javascript_include_tag 'store/jquery.easing.1.3' %>
<script id="previewTmpl" type="text/x-jquery-tmpl">
    <div id="ib-img-preview" class="ib-preview">
        <img src="${src}" alt="" class="ib-preview-img"/>
        <span class="ib-preview-descr" style="display:none;">${description}</span>
        <div class="ib-nav" style="display:none;">
            <span class="ib-nav-prev">Previous</span>
            <span class="ib-nav-next">Next</span>
        </div>
        <span class="ib-close" style="display:none;">Close Preview</span>
        <div class="ib-loading-large" style="display:none;">Loading...</div>
    </div>      
</script>
<script id="contentTmpl" type="text/x-jquery-tmpl"> 
    <div id="ib-content-preview" class="ib-content-preview">
        <div class="ib-teaser" style="display:none;">{{html teaser}}</div>
        <div class="ib-content-full" style="display:none;">{{html content}}</div>
        <span class="ib-close" style="display:none;">Close Preview</span>
    </div>
</script>