<%= provide(:title, 'Helpdesk livechat - SupportSages') %>
<%= provide(:center_header, 'Helpdesk Support') %>
<%= provide(:ourphilosophy, 'Live Chat') %>
<%= provide(:product_filter_title, 'SERVICE OPTIONS') %>

<div class="container-fluid">
        <div class="container">        
            <div class="row">
                <%= render :partial => 'product_filters_show' %>
                <div class="span9">
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p class="paratop">Have an edge over the others!! Start offering technical support (not just sales support) over Live Chat. International customers 
                            always prefers chat support over the asynchronous email support and an expensive phone support. Yes, phone support does have a personal 
                            touch, but it is often expensive for both the customer and the enterprise and customer often have trouble with the accent.</p>
                            <p>Offering Live Chat support is the cost effective solution here! And customer will have all praises for you and let us assure you, 
                            that you will never regret this decision. </p>
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div class="get-the-upperhand-by-hiring-us"><%= image_tag('store/get-the-upperhand-by-hiring-us.png')%></div>
                        <div id="offer-livechat-support">
                            <h3>Why Offer Live Chat Support ?</h3>
                            <div id="why-offer-livechatsupport-p">
                                <p>Win your customer's confidence and trust through Live Support </p>
                                <p>Multitasking is possible for the operator, there by improving his efficiency</p>
                                <p>Increase conversion rates by 50% to 70% </p>
                                <p>No more long wait times and immediate assistance </p>
                                <p>Enables sales personnel to up sell the services </p>
                                <p>Cost effective than voice based support </p>
                                <p>Provide them with an instant client care feeling </p>
                                <p>Provides a human alternative to the virtual world </p>
                                <p class="noborder">Clients review your hosting firm based on the response <br>they get and we make sure that it's the best</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row leftmar">
                        <div class="span9 leftmar">
                            <div class="accordion toggle" id="accordion2">
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right offer-livechat-support-acco-h">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                          <p>Hire a Chat Personnel</p>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in acco-content">
                                        <div class="accordion-inner accordi-inner">
                                        <p>
                                          SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, 
                                            we promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we 
                                            enjoy what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the 
                                            web hosting industry. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Plan</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>8x6 Shared </p></td>
                                                    <td><p>$699 per Month</p><%=link_to image_tag('store/purchasenow.png'),'#'%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>24x7 Shared </p></td>
                                                    <td><p>$1499 per Month</p><%= link_to image_tag('store/purchasenow.png'),'#'%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>24x7 Dedicated</p></td>
                                                    <td><p>$3999 per Month</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                          <p>24x7 Per Chat Support</p>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>
                                           SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, 
                                            we promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we 
                                            enjoy what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the 
                                            web hosting industry. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Number of Chats</th>
                                                    <th>Price (per Chat)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>50</p></td>
                                                    <td><p>$ 6</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>100</p></td>
                                                    <td><p>$ 5</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>250</p></td>
                                                    <td><p>$ 4.5</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>500</p></td>
                                                    <td><p>$ 4</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                                <tr>
                                                    <td><p>1000+</p></td>
                                                    <td><p>$ 3.5</p><%= link_to image_tag('store/purchasenow.png')%></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/acccordian-->
                        </div><!--/span9-->
                    </div> <!--/row-->
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p>For Technical chat, though Live chat is offered by Level 2 System Administrators, any issue which can be solved by a Level 
                            3 admin within 15 minutes time is taken care of as well. Or else the chat support personnel will open a ticket with the support 
                            desk which they themselves may solve if the time permits.</p>
                            <p>Shared chats means the personnel will be handling only one chat at a time, where as when you are hiring a dedicated personnel, 
                            he will be able to handle upto 4 level II chats at a time.</p>
                        </div>
                    </div>
                </div><!--/span9-->
            </div><!--/row-->
            <div class="finalspace"></div>
        </div>
    </div>