<%= provide(:title, 'Helpdesk Support Time Bound - SupportSages') %>
<%= provide(:center_header, 'Helpdesk Support') %>
<%= provide(:ourphilosophy, 'Time Bound') %>
<%= provide(:product_filter_title, 'TEAM') %>

<div class="container-fluid">
        <div class="container">
            <div class="row">
            	<%= render :partial => 'product_filters_show' %>
                <div class="span9">
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p class="paratop">SupportSages founded by a group of veteran talented professionals offers complete solutions to the web 
                            hosting industry. Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base 
                            of existing clientèle, we promise you that we never ever compromise on quality. It's a pledge each of our team members take! 
                            We are here because we enjoy what we do. Each founder member has minimum of 8 years of server administration experience and 
                            at least 6 years in the web hosting industry.</p>
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div class="get-the-upperhand-by-hiring-us-timebound"><%= image_tag('store/get-the-upperhand-by-hiring-us.png')%></div>
                        <div id="get-the-upperhand-by-hiring-us-timebound-points">
                            <h3>Get the Upper hand by hiring us !</h3>
                            <div id="get-the-upperhand-by-hiring-us-timebound-p">
                                <p>24/7 availability</p>
                                <p>Level III System Administrator Support </p>
                                <p>15 minutes response time guarantee </p>
                                <p>6 hours resolution time guarantee </p>
                                <p>Unlimited Domains / Servers *</p>
                                <p>100% Transparent Support </p>
                                <p class="noborder">Money Back Guarantee</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row leftmar"><div><h2>Helpdesk Support - Time Bound</h2></div></div>
                    
                    <div class="row leftmar">
                        <div class="span9 leftmar">
                            <div class="accordion toggle" id="accordion2">
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right offer-livechat-support-acco-h">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                          <p>Hourly Plans</p>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in acco-content hourly-plan">
                                        <div class="accordion-inner accordi-inner">
                                        <p>Spending quality time with your dear ones is quite exciting and rewarding. Our support team keeps away your support 
                                        thoughts and make each moment beautiful and valuable. The plan offers the following support options :</p>
                                            <div>
                                                <p class="floleft white">2 hours x 5 days</p>
                                                <p class="floleft white">4 hours x 5 days</p>
                                                <p class="floleft white">6 hours x 5 days</p>
                                            </div>
                                            <div>
                                                <p class="floleft white">8 hours x 5 days</p>
                                                <p class="floleft white">12 hours x 5 days </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24/7 Live Chat Support </p>
                                                        <p>24/7 Nagios server monitoring </p>
                                                        <p>Server Management </p>
                                                        <p>Security Audit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                                        <p>Hire a Sage</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                          <p>Holiday Plans</p>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>Holidays are meant for fun. We make your holidays wonderful by  keeping your support worries away. Our support 
                                          team will take care about your helpdesk when you are away. The plan is available on weekly basis. Direct access to 
                                          the admin on shift through IM and Server Administration helpdesk access,  provides you better control over issues, 
                                          in case of emergency. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead><tr> <th>Plan Features</th></tr> </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="floleft">
                                                            <p>Support for unlimited servers  </p>
                                                            <p>Support for unlimited accounts per server </p>
                                                            <p>24 hours support on the week ends. </p>
                                                            <p>All Certified Engineers </p>
                                                            <p>Support for all levels of issues </p>
                                                            <p>Guaranteed 30 minutes response time </p>
                                                            <p>6 hour average resolution time </p>
                                                            <p>Support for pre-sales issues</p>
                                                        </div>
                                                        <div class="floleft table-left-mar">
                                                            <p>No "Canned" responses </p>
                                                            <p>Anonymous support </p>
                                                            <p>Immediate Escalation To Data Center </p>
                                                            <p>Instant Server Reboot </p>
                                                            <p>IM availability </p>
                                                            <p>Server Help Desk access </p>
                                                            <p>Weekly Purchase </p>
                                                            <p>No Server Management* </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">Plan Rates</p>
                                        
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Plan</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Holiday Support</p> 
                                                    </td>
                                                    <td>
                                                        <p>$250 Per Week</p>
                                                        <%= link_to image_tag('store/purchasenow.png'),'#'%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="table-under-p"> All server administration tasks will incur additional charges as per the task involved. </p>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24x7 Live Chat Support</p> 
                                                        <p>24x7 Nagios server monitoring </p>
                                                        <p>Server Management </p>
                                                        <p>Security Audit</p>
                                                        <p>Hire a Sage</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                          <p>Night Vigil</p>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>Night Vigil plan assures you sound sleep while your helpdesk is busy and active. Our support team works 
                                          as your  night support team for 12 hours of your choice according to your time zone. The support quality 
                                          assures you  happy customers  and  peaceful nights. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead><tr> <th>Plan Features</th></tr> </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="floleft">
                                                            <p>Support for unlimited servers  </p>
                                                            <p>Support for unlimited accounts per server </p>
                                                            <p>12 hours, 7 days a week support </p>
                                                            <p>All Certified Engineers </p>
                                                            <p>Support for all levels of issues </p>
                                                            <p>Guaranteed 30 minutes response time </p>
                                                            <p>6 hour average resolution time </p>
                                                        </div>
                                                        <div class="floleft table-left-mar">
                                                            <p>Support for pre-sales issues </p>
                                                            <p>No "Canned" responses </p>
                                                            <p>Anonymous support </p>
                                                            <p>Immediate Escalation To Data Center </p>
                                                            <p>Instant Server Reboot </p>
                                                            <p>IM availability </p>
                                                            <p>Monthly Purchase </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">Plan Rates</p>
                                        
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Plan</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Night Vigil</p> 
                                                    </td>
                                                    <td>
                                                        <p>$1250 Per Month</p>
                                                        <%= link_to image_tag('store/purchasenow.png'), '#' %>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="table-under-p"> All server administration tasks will incur additional charges as per the task involved. </p>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24x7 Live Chat Support</p> 
                                                        <p>24x7 Nagios server monitoring </p>
                                                        <p>Server Management </p>
                                                        <p>Security Audit</p>
                                                        <p>Hire a Sage</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                          <p>Week End Support Plan</p>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>The Week End Support plan is designed exclusively for those who love to live life to the fullest. Our Help 
                                          Desk support team handles all levels of support requests during the Week Ends ie., on Saturdays and Sundays. 
                                          The support quality enables you to spend your quality time with family (or dear ones) without damaging the good 
                                          will of the business. Direct access to the admin through IM  and  server Help Desk access to request L3 operations 
                                          provides best control during emergencies. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead><tr> <th>Plan Features</th></tr> </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="floleft">
                                                            <p>Support for unlimited servers  </p>
                                                            <p>Support for unlimited accounts per server </p>
                                                            <p>24 hours support on the week ends. </p>
                                                            <p>All Certified Engineers </p>
                                                            <p>Support for all levels of issues </p>
                                                            <p>Guaranteed 30 minutes response time </p>
                                                            <p>6 hour average resolution time </p>
                                                            <p>Support for pre-sales issues </p>
                                                        </div>
                                                        <div class="floleft table-left-mar">
                                                            <p>No "Canned" responses </p>
                                                            <p>Anonymous support </p>
                                                            <p>Immediate Escalation To Data Center </p>
                                                            <p>Instant Server Reboot </p>
                                                            <p>IM availability </p>
                                                            <p>Server Help Desk access </p>
                                                            <p>Monthly Purchase*</p>
                                                            <p>No Server Administration</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">Plan Rates</p>
                                        
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Plan</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Weekend Support</p> 
                                                    </td>
                                                    <td>
                                                        <p>$250 Per month</p>
                                                        <%= link_to image_tag('store/purchasenow.png'),'#' %>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="table-under-p"> A* The plan covers week ends on a month ie max. of 8 days. All server administration tasks will 
                                        incur additional charges as per the  task involved. </p>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24x7 Live Chat Support</p> 
                                                        <p>24x7 Nagios server monitoring </p>
                                                        <p>Server Management </p>
                                                        <p>Security Audit</p>
                                                        <p>Hire a Sage</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/acccordian-->
                        </div><!--/span9-->
                    </div> <!--/row-->
                </div>
            </div>
             <div class="finalspace"></div>
        </div>
    </div> <!-- Container div end -->