<%= provide(:title, 'Helpdesk Support Tickets - SupportSages') %>
<%= provide(:center_header, 'Helpdesk Support') %>
<%= provide(:ourphilosophy, 'Tickets') %>
<%= provide(:product_filter_title, 'TEAM') %>


<div class="container-fluid">
        <div class="container">
            <div class="row">
                <%= render :partial => 'product_filters_show' %>
                <div class="span9">
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p class="paratop">SupportSages founded by a group of veteran talented professionals offers complete solutions to the web 
                            hosting industry. Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base 
                            of existing clientèle, we promise you that we never ever compromise on quality. It's a pledge each of our team members take! 
                            We are here because we enjoy what we do. Each founder member has minimum of 8 years of server administration experience and 
                            at least 6 years in the web hosting industry.</p>
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div class="get-the-upperhand-by-hiring-us-tickets"><%= image_tag('store/get-the-upperhand-by-hiring-us.png')%></div>
                        <div id="get-the-upperhand-by-hiring-us-tickets-points">
                            <h3>Get the Upper hand by hiring us !</h3>
                            <div id="get-the-upperhand-by-hiring-us-tickets-p">
                                <p>24/7 availability</p>
                                <p>Level III System Administrator Support </p>
                                <p>15 minutes response time guarantee </p>
                                <p>6 hours resolution time guarantee </p>
                                <p>Unlimited Domains / Servers *</p>
                                <p>100% Transparent Support </p>
                                <p class="noborder">Money Back Guarantee</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row leftmar"><div><h2>Ticket Based Support</h2></div></div>
                    
                    <div class="row leftmar">
                        <div class="span9 leftmar">
                            <div class="accordion toggle" id="accordion2">
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right offer-livechat-support-acco-h">
                                        <a class="accordion-toggle morewidth collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                          <p>Monthly Ticket Plan Per Ticket</p>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in acco-content">
                                        <div class="accordion-inner accordi-inner">
                                        <p>Monthly per ticket  Plan is a Tailor made plan for startup and Small scale hosting companies. Our team of trained 
                                        engineers delivers excellent helpdesk ticket management around the clock.  The plan charges only for the tickets worked. 
                                        Per Ticket Plan is ideal for the organizations having growth driven budget. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead><tr> <th>Plan Features</th></tr> </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="floleft">
                                                            <p>Support for unlimited servers  </p>
                                                            <p>Support for unlimited accounts per server </p>
                                                            <p>24 hours, 7 days a week support.</p>
                                                            <p>All Certified Engineers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                                            <p>L1 and L2 issue support</p>
                                                            <p>Guaranteed 30 minutes response time</p>
                                                            <p>6 hour average resolution time </p>
                                                            <p>Support for pre-sales issues</p>
                                                        </div>
                                                        <div class="floleft table-left-mar">
                                                            <p>No "canned" responses</p>
                                                            <p>Anonymous support </p>
                                                            <p>Immediate Escalation To Data Center </p>
                                                            <p>Instant Server Reboot </p>
                                                            <p>Monthly ticket usage reports </p>
                                                            <p>2 Months ticket validity </p>
                                                            <p>Setup fee is charged one-time </p>
                                                            <p>No set up fee for plan switching </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">Plan Rates</p>
                                        <p class="table-under-p">
                                        The tickets are sold as a pool of tickets of varying size. The charge per ticket diminishes with increase in no. 
                                        of tickets purchased. </p>
                                        <table class="table table-bordered">
                                            <tbody class="pool-of-tickets">
                                                <tr>
                                                    <td>
                                                        <%= image_tag('store/pool-of-tickets-blue.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 10</p>
                                                        <p class="pool-price">Price per ticket: $4.00</p>
                                                        <%= link_to image_tag("store/pool-of-tickets-purchase.png",alt:'purchase now'),product_link('pool-of-tickets-10-price-per-ticket-4-dollars-00-cents-1') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-da-blue.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 25</p>
                                                        <p class="pool-price">Price per ticket: $3.75</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-25-price-per-ticket-3-dollars-75-cents') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-red.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 50</p>
                                                        <p class="pool-price">Price per ticket: $3.50</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-50-price-per-ticket-3-dollars-50-cents') %>

                                                    </td>
                                                    <td valign="middle">
                                                    <%= image_tag('store/pool-of-tickets-black.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 100</p>
                                                        <p class="pool-price">Price per ticket: $3.25</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-100-price-per-ticket-3-dollars-25-cents') %> 

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table class="table table-bordered table-width">
                                            <tbody class="pool-of-tickets">
                                                <tr>
                                                    <td>
                                                        <%= image_tag('store/pool-of-tickets-yellow.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 250</p>
                                                        <p class="pool-price">Price per ticket: $3.00</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-250-price-per-ticket-3-dollars-00-cents') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-green.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 500</p>
                                                        <p class="pool-price">Price per ticket: $2.75</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-500-price-per-ticket-2-dollars-75-cents') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-violet.png',alt:'pool of tickets') %>
                                                        <p>Pool of Tickets : 1000</p>
                                                        <p class="pool-price">Price per ticket: $2.00</p>
                                                        <%= link_to image_tag('store/pool-of-tickets-purchase.png',alt:'purchase now'),product_link('pool-of-tickets-1000-price-per-ticket-2-dollars-00-cents')%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">** Important Note:- </p>
                                        <p class="table-under-p">
                                        Tickets purchased are valid only for 90 days from the date of purchase. Any unused tickets will not be carried over. </p>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24x7 Live Chat Support &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                                        <p>24x7 nagios server monitoring </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle morewidth collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                          <p>Monthly Ticket Plan Per Server </p>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>The plan targets small scale hosting companies with excellent growth rate. The Helpdesk management is given to specific 
                                        number of servers for any number of support tickets. Addition or deletion of servers to existing plan in synchronization 
                                        with business changes is possible. We have different plans based on the number of primary domains hosted on each server. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead><tr> <th>Plan Features</th></tr> </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="floleft">
                                                            <p>Support for any number of technical tickets </p>
                                                            <p>24 hours, 7 days a week support. </p>
                                                            <p>All Certified Engineers</p>
                                                            <p>All levels of support from l1 to l3 </p>
                                                            <p>Guaranteed 30 minutes response time </p>
                                                            <p>6 hour average resolution time </p>
                                                        </div>
                                                        <div class="floleft table-left-mar"> 
                                                            <p>Support for pre-sales issues </p>
                                                            <p>No "canned" responses </p>
                                                            <p>Anonymous support </p>
                                                            <p>Immediate Escalation To Data Center </p>
                                                            <p>Instant Server Reboot </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="sub-h-bold">Plan Rates</p>
                                        <table class="table table-bordered">
                                            <tbody class="pool-of-tickets-three">
                                                <tr>
                                                    <td>
                                                        <%= image_tag('store/pool-of-tickets-blue-three.png',alt:'purchase now') %>
                                                        <p>Pool of Tickets : 250</p>
                                                        <p class="pool-price">Price per ticket: $3.00</p>
                                                        <%= link_to image_tag('store/purchase-three.png',alt:'purchase now'),product_link('pool-of-tickets-250-price-per-ticket-3-dollars-00-cents-1') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-black-three.png',alt:'purchase now') %>
                                                        <p>Pool of Tickets : 500</p>
                                                        <p class="pool-price">Price per ticket: $2.75</p>
                                                        <%= link_to image_tag('store/purchase-three.png',alt:'purchase'),product_link('pool-of-tickets-500-price-per-ticket-2-dollars-75-cents-per-server') %>
                                                    </td>
                                                    <td valign="middle">
                                                        <%= image_tag('store/pool-of-tickets-red-three.png',alt:'purchase now') %>
                                                        <p>Pool of Tickets : 1000</p>
                                                        <p class="pool-price">Price per ticket: $2.00</p>
                                                        <%= link_to image_tag('store/purchase-three.png',alt:'purchase now'),product_link('pool-of-tickets-1000-price-per-ticket-2-dollars-00-cents-per-server') %>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Addons </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>24x7 Live Chat Support</p> 
                                                        <p>24x7 Nagios server monitoring </p>
                                                        <p>Server Management </p>
                                                        <p>Security Audit</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/acccordian-->
                        </div><!--/span9-->
                    </div> <!--/row-->
                </div><!--/span9-->
            </div><!--/row-->
            <div class="finalspace"></div>
        </div>
    </div>  <!-- end container-fluid -->