<%= provide(:title, 'SupportSages') %>

<div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("store/slider/banner1.jpg",alt:'banner1') %>
          </div>
          <div class="item">
            <%= image_tag('store/slider/banner2.jpg',alt:'banner2') %>
          </div>
          <div class="item">
            <%= image_tag('store/slider/banner1.jpg',alt:'banner1') %>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    
    <div class="container-fluid above_contact_shadow"></div>   
    <div class="container-fluid below_nav_bg">
        <div class="container">
            <div class="row">
                <div class="span1">
                    <div id="direct_phone">
                        <%= link_to image_tag('store/direct_ph.png',id:'direct_ph_icon',alt:'direct_ph'),'#' %>
                    </div>
                </div>
                <div class="span2">
                    <div id="direct_ph">
                        <p id="number">1.888.888.8888</p>
                        <p id="in_letter">direct phone</p>
                        <%= image_tag('store/ct_dt_divider.jpg',alt:'divider',id:'ct_dt_divider') %>
                    </div>
                </div>
                <div class="span1">
                    <div><%= link_to image_tag('store/skype.png',alt:'skype',id:'skype_icon'),'#' %></div>
                    <%= image_tag('store/ct_dt_divider.jpg',alt:'divider',id:'skype_divider') %>
                </div>
                <div class="span1">

                    <div><%= link_to image_tag('store/user.png',alt:'user',id:'user_icon'),'#' %></div>
                    <%= image_tag('store/ct_dt_divider.jpg',alt:'divider',id:'user_divider') %>
                </div>
                <div class="span1">
                    <div><%= link_to image_tag('store/talk.png',alt:'talk',id:'talk_icon'),'#' %></div>
                    <%= image_tag('store/ct_dt_divider.jpg',alt:'divider',id:'talk_divider')%>
                </div>
                <div class="span3">
                    <div><%= link_to image_tag('store/live_chat.png',alt:'live_chat',id:'live_chat_btt'),'#' %></div>
                </div>
                <div class="span3">
                    <div id="follow_us">
                        <p id="follow">FOLLOW US ON</p>
                        <%= link_to image_tag('store/blue_twitter.png',id:'twitter',alt:'twitter'),'#' %>
                        <%= link_to image_tag('store/blue_facebook.png',id:'facebook',alt:'facebook'),'#' %>
                        <%= link_to image_tag('store/blue_google_plus.png',id:'google_plus',alt:'google_plus'),'#' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid content_bg">
        <div class="container">
            <div class="row">
                <div class="span7">
                    <div class="content_left" class="row">
                        <div id="server_management">
                            <div id="server_mgt_icon"><%= image_tag('store/server_mgnt.png',alt:'Server Management')%></div>
                            <div id="server_mgt_para">
                                <div><p id="smgt_h">Server Management</p></div>
                                <div id="server_mgt_p">
                                     <p>
                                       Let experienced & certified sysadmins manage your servers 24/7 Server & services 
                                        monitoring, Guaranteed 5 mins response, Instant monitoring statistics,  
                                     </p>
                                </div>
                            </div>
                        </div>
                        <div id="hire_a_sage">
                            <div id="hire_a_sage_icon"><%= image_tag("store/hire_a_sage_body.png",alt:'Hire a Sage') %></div>
                            <div id="hire_a_sage_para">
                                <div id="smgt_h" class="hire-h"><p>Hire a Sage</p></div>
                                <div id="hire_a_sage_p">
                                     <p>
                                       Let experienced & certified sysadmins manage your servers 24/7 Server & services 
                                        monitoring, Guaranteed 5 mins response, Instant monitoring statistics,  
                                     </p>
                                </div>
                            </div>
                        </div>
                        <div id="hosting_incubator">
                            <div id="hosting_incubator_icon"><%= image_tag('store/hosting_incubator.png',alt:'Hosting Incubator')%></div>
                            <div id="hosting_incubator_para">
                                <div><p id="smgt_h">Hosting Incubator</p></div>
                                <div id="hosting_incubator_p">
                                     <p>
                                       Let experienced & certified sysadmins manage your servers 24/7 Server & services 
                                        monitoring, Guaranteed 5 mins response, Instant monitoring statistics,  
                                     </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="span5">
                    <div id="content_right">
                        <div id="why_choose_left" class="">
                        	<%= image_tag('store/why_choose_left.png',id:'left_why')%>
                        </div>
                        <div id="why_choose_center" class="">
                            <p id="why">Why <span>SupportSages ?</span></p>
                            <%= image_tag('store/half_circle.png',id:'half_circle')%>
                        </div>
                        <div id="why_choose_content">
                            <p id="first_line"><a href="#">24/7 expert friendly support</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">Combined experience of 4 yrs</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">Reasonable pricing. High Quality</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">We never compromise on QUALITY</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">You Get more than what you pay for ?</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">15 mins average response guarantee</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">We never give up !!!</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">Transparent Support</a></p>
                            <div id="why_border"></div>
                            <p class="other_lines"><a href="#">100% of our staff has university level IT qualifications</a></p>
                            <div id="why_border"></div>
                        </div>
                        <div id="why_choose_right" class="">
                            <%= image_tag('store/why_choose_right.png') %>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>