<%= provide(:title, 'Helpdesk Team Plans - SupportSages') %>
<%= provide(:center_header, 'Helpdesk Support') %>
<%= provide(:ourphilosophy, 'Team Plans') %>
<%= provide(:product_filter_title, 'TEAM') %>

<div class="container-fluid">
        <div class="container">        
            <div class="row">
                <%= render :partial => 'product_filters_show' %>
                <div class="span9">
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p class="paratop">Have an edge over the others!! Start offering technical support (not just sales support) over Live Chat. International customers 
                            always prefers chat support over the asynchronous email support and an expensive phone support. Yes, phone support does have a personal 
                            touch, but it is often expensive for both the customer and the enterprise and customer often have trouble with the accent.</p>
                            <p>Offering Live Chat support is the cost effective solution here! And customer will have all praises for you and let us assure you, 
                            that you will never regret this decision. </p>
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div class="get-the-upperhand-by-hiring-us-teamplan"><%=image_tag('store/get-the-upperhand-by-hiring-us.png')%></div>
                        <div id="get-the-upperhand-by-hiring-us-teamplan-points">
                            <h3>Get the Upper hand by hiring us !</h3>
                            <div id="why-offer-livechatsupport-p">
                                <p>24/7 availability</p>
                                <p>Level III System Administrator Support </p>
                                <p>15 minutes response time guarantee </p>
                                <p>6 hours resolution time guarantee </p>
                                <p>Unlimited Domains / Servers *</p>
                                <p>100% Transparent Support </p>
                                <p class="noborder">Money Back Guarantee</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row leftmar">
                        <div id="get-the-upperhand-by-hiring-us-below-p">
                            <p>Based on the experience and proficiency on server administration, the team is dived in to four categories named L1,L2,L3 and 
                            L3(escalation). The following explanation provides a vivid understanding about the terminologies and assists you to make a decision.</p>
                            <p>Level 1 or L1 admins occupies the lowest layer of the support hierarchy pyramid. The average experience of a L1 is 0-1 years in 
                            hosting support industry. They mainly deal with non critical issues and permitted to work on a root shell in servers only if a 
                            supervisor or his mentor is present. They have access to admin interfaces through, like WHM/Plesk admin etc. </p>
                            <p>A Level 2 admin or L2 will have an average experience of 1-3 years. They will be efficient in handling support tickets and server 
                            maintenance operations.</p>
                            <p>The next higher level is Level 3 or L3. It is again divided into two classes ie normal L3 and L3 ( escalation). A normal l3 will 
                            have a minimum industry experience of 3-7 years. In most cases, they will be capable of resolving any level of issues. </p>
                            <p>Admins with an experience of more than 7 years will be entitled as L3 (escalation) admins. They resolve all issues which are 
                            escalated from L3 admins. </p>
                        </div>
                    </div>
                    
                    <div class="row leftmar">
                        <div id="get-the-upperhand-by-hiring-us-below-p">
                        	<%=image_tag('store/graph.jpg',alt:'Graph') %>
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div id="get-the-upperhand-by-hiring-us-below-p">
                            <p>You can hand pick your own team from the pool according to your requirements. Normally a team consists of 4 members. 
                            The additional team member covers the weekly off days and leaves of other team </p>
                        </div>
                    </div>
                    <div class="row leftmar"><div><h2>Team Plans</h2></div></div>
                    
                    <div class="row leftmar">
                        <div class="span9 leftmar">
                            <div class="accordion toggle" id="accordion2">
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right offer-livechat-support-acco-h">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                          <p id="shared-team">Shared Team</p>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in acco-content">
                                        <div class="accordion-inner accordi-inner">
                                        <p>Shared Team on a Shared / Reseller Server</p>
                                        <p>A Shared team consists of a pool of 9 Administrators in different skill levels. They would be managing multiple 
                                        clients at a time. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Features</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Consists of 3 Level 1, 3 Level 2 and 3 Level 3 administrators.</p>
                                                        <p>Can handle upto 100 servers</p>
                                                        <p>Average Response Time – 30 minutes</p>
                                                        <p>Canned Response Time – Based on the level of issue</p>
                                                        <p>No Server Management (can be included in custom quote)</p>
                                                    </td>
                                                    <td class="sharedteam">
                                                        <p> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Starts at</p>
                                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;$99 Per server</p>
                                                        <%=link_to image_tag('store/purchasenow.png',alt:'purchasenow'),'#'%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                          <p id="semidedicated-team">Semi-Dedicated Team</p>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>We offer two types of semi dedicated plans namely </p>
                                          <p>1/2 semi-dedicated </p>
                                          <p>1/3 semi-dedicated </p>
                                          <p>In the first plan, the team will be handling another client of the same package and will resolve your 
                                          issues as and when it pops up. The second plan implies that the team assigned to you will work for other 
                                          two hosting companies as well. This simply means that the team is not entirely dedicated for you alone. But 
                                          the quality of support will be same but the charge will reduced in accordance with the number of teams to which 
                                          the admin is being shared. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Team</th>
                                                    <th>Tier 1 – ½ Semi-Dedicated Price</th>
                                                    <th>Tier 2 - 1/3 Semi-Dedicated Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>3 Level 2 Admins, <br>1 L3 Admin</p></td>
                                                    <td><p>$1900</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                    <td><p>$1400</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                </tr>
                                                <tr>
                                                    <td><p>3 Level 3 Admins, <br>1 L3 Escalation Admin</p></td>
                                                    <td><p>$2700</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                    <td><p>$1950</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Features</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Average Response Time : 15 minutes
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                                        </p>
                                                        <p>Guaranteed Response Time : 30 minutes</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle noimg collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                          <p id="dedicated-team">Dedicated Team</p>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>A dedicated team consists of 4 admins and they work exclusively for you 24*7 to meet your customer expectations. 
                                          You can either choose a team of equally skilled admins or a blend of varying capacities. The charges for the 
                                          most popular plans are :</p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered help-left">
                                            <thead>
                                                <tr>
                                                    <th>Team</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>3 Level 2 Admins + 1 L3 Admin</p></td>
                                                    <td><p>$3600</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                </tr>
                                                <tr>
                                                    <td><p>3 Level 3 Admins + 1 L3 Escalation Admin</p></td>
                                                    <td><p>$5200</p><%=link_to image_tag('store/purchasenow.png'),'#' %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Features</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>Guaranteed Response Time : 15 minutes
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                                        </p>
                                                        <p>Average Response Time : 5-10 minutes</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/acccordian-->
                        </div><!--/span9-->
                    </div> <!--/row-->
                </div><!--/span9-->
            </div><!--/row-->
            
            <div class="finalspace"></div>
        </div>
    </div>