<div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div id="ourphilo_menus" class="">
                        <p><a href="#">Our Philosophy</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">About Us</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Voice of Customers</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Know Our Sages</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Why SupportSages</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">SuportSages Blog</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Contact Us</a></p>
                        <div class="ourphilo_menus_border"></div>
                    </div>
                </div>
                <div class="span9">
                    <div>
                        <div class="row"><h3>12 Reasons to Choose SupportSages</h3></div>
                        <div class="row">
                        <div id="circle">
                    <div id="circleDiv">
                        <p id="one" class="reasons">1</p>
                        <p id="two" class="reasons">2</p>
                        <p id="three" class="reasons">3</p>
                        <p id="four" class="reasons">4</p>
                        <p id="five" class="reasons">5</p>
                        <p id="six" class="reasons">6</p>
                        <p id="seven" class="reasons">7</p>
                        <p id="eight" class="reasons">8</p>
                        <p id="nine" class="reasons">9</p>
                        <p id="ten" class="reasons">10</p>
                        <p id="eleven" class="reasons">11</p>
                        <p id="twelve" class="reasons">12</p>
                    </div>
                
                    <div id="clockcontent">
                        <div id="availability">
                            <div id="availability_bg"><%=image_tag('store/clock_hover1.png')%></div>
                            <h3>24x7x365 availability</h3>
                            <p>
                            Yes, we really mean it.<br /><br /> Whenever you need, just ping us on your favorite channel, 
                            you will get the proper response within no time. 
                            </p>
                        </div>
                        <div id="expe_n_competence" class="clockcontent_display">
                            <h3>Experience and Competence</h3>
                            <p>
                            The team Supportsages is constituted by a group of professionals with extensive 
                            experience in System Administration, which includes web hosting support as well.<br /><br />
                            Their profound knowledge on systems of various sizes and complexities paves the 
                            foundation for our unparalleled competence. 
                            </p>
                            <div id="expe_n_competence_bg"><%=image_tag('store/clock_hover2.png')%></div>
                        </div>
                        <div id="each_sage_certified_eng" class="clockcontent_display">
                            <h3>Certified Engineers</h3>
                            <p>
                            Our multi level recruitment process permits only the best brains 
                            to be hand picked to the team.<br /><br /> 
                            Grades on Engineering certificates are of least concern to us, 
                            but abundant common sense and proficiency in English is a must.<br /><br /> 
                            Besides each candidate posses 
                            an International certification which stands as a testimony for his passion to the subject 
                            in addition to the analytic skills. 
                            </p>
                            <div id="each_sage_certified_eng_bg"><%=image_tag('store/clock_hover3.png')%></div>
                        </div>
                        <div id="seamless_communication" class="clockcontent_display">
                            <h3>Seamless Communication</h3>
                            <p>
                            The in house moulding process equips each sage with necessary personal, technical and 
                            linguistic skills prior to his induction to the team.<br /><br /> This facilitates effortless and 
                            effective communication which yields time bound results. 
                            </p>
                            <div id="seamless_communication_bg"><%=image_tag('store/clock_hover4.png')%></div>
                        </div>
                        <div id="great_attitude" class="clockcontent_display">
                            <h3>Great attitude,passion and ethics</h3>
                            <p>
                            We don't care about the attire of a sage as long as he is presentable, 

                            but his attitude matters the most. <br /><br /> 
                            Sages are passionate about whatever they do and never ever compromise the values we adhere.
                            <br /><br /> 
                            Our unbeaten technical skills along with passion, commitment to business ethics and 
                            never-say-die attitude delivers services which are truly exceptional and excellent. 
                            </p>
                            <div id="great_attitude_bg"><%=image_tag('store/clock_hover5.png')%></div>
                        </div>
                        <div id="dedicated_client" class="clockcontent_display">
                            <h3>Dedicated Client Manager</h3>
                            <p>
                            Irrespective of the plan, each client is assigned with a dedicated Client Manager.
                            <br /><br /> They 
                            act as the primary point of contact to the client and takes care about his issues. 
                            <br /><br />Their 
                            solid customer and technical support background enables them to take informed decisions which 
                            results in more personnel and productive customer relationships.
                            </p>
                            <div id="dedicated_client_bg"><%=image_tag('store/clock_hover6.png')%></div>
                        </div>
                        <div id="direct_access_management" class="clockcontent_display">
                            <h3>Direct access to the Management</h3>
                            <p>
                            Any escalations to the higher level management is possible through the hassle free 
                            direct escalation procedures. <br /><br />
                            The management will address the issue within a few hours 
                            and will keep you informed. 
                            </p>
                            <div id="direct_access_management_bg"><%=image_tag('store/clock_hover7.png')%></div>
                        </div>
                        <div id="customized_solutions" class="clockcontent_display">
                            <h3>Customized solutions</h3>
                            <p>
                            We believe in inclusive growth while embracing diversity. <br /><br />
                            If your requirements can't be 
                            fulfilled by our specified plans, do let us know.<br /><br />
                             We are quite enthusiastic about providing 
                            tailor made solutions for those who are unique in their requirements. 
                            </p>
                            <div id="customized_solutions_bg"><%=image_tag('store/clock_hover8.png')%></div>
                        </div>
                        <div id="consistent_n_stable_performance" class="clockcontent_display">
                            <h3>Consistent and stable performance</h3>
                            <p>
                            We don't claim about our growth as exponential, instead it is a sustainable one. 
                            <br /><br />
                            This is attributed by our committed team which continues to produce happy customers, 
                            who vouch for us through word of mouth. 
                            </p>
                            <div id="consistent_n_stable_performance_bg"><%=image_tag('store/')%><%=image_tag('store/clock_hover9.png')%></div>
                        </div>
                        <div id="excellent_track_record" class="clockcontent_display">
                            <h3>Excellent track record</h3>
                            <p>
                            Keeping promises is essential to build long lasting relations.
                            <br /><br /> Our habit of keeping 
                            promises with the expected quality takes relations beyond business and makes 
                            us the trusted partners of various highly demanding clients.  
                            </p>
                            <div id="excellent_track_record_bg"><%=image_tag('store/clock_hover10.png')%></div>
                        </div>
                        <div id="right_resources" class="clockcontent_display">
                            <h3>Right resources</h3>
                            <p>
                            Our primary resource of course is our excellent talents. We make them focused and productive 
                            through training and various quality measures.
                            <br /><br /> The well furnished and designed infrastructure 
                            with multiple Internet Service Providers and Power supplies enable them to focus on their 
                            core responsibilities which rewards in the form of vertical career growth. 
                            </p>
                            <div id="right_resources_bg"><%=image_tag('store/clock_hover11.png')%></div>
                        </div>
                        <div id="pay_as_you_grow" class="clockcontent_display">
                            <h3>Pay-As-You-Grow</h3>
                            <p>
                            This feature provides scalable support plans in accordance with the business needs.
                            <br /><br /> This 
                            provides better control over your expenses, as refund for any unused service is available. 
                            </p>
                            <div id="pay_as_you_grow_bg"><%=image_tag('store/clock_hover12.png')%></div>
                        </div>
                    </div>
                
                </div>
                        
                        </div><!--/row-->
                    </div>
                </div>
            </div>
            <div class="finalspace"></div>
        </div>
    </div>