<div class="span9">
                    <div class="row leftmar">
                        <div id="helpdesk-right">
                            <p class="paratop">SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, we 
                            promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we enjoy 
                            what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the web hosting industry. </p>   
                        </div>
                    </div>
                    <div class="row leftmar">
                        <div class="get-the-upperhand-by-hiring-us"><%=image_tag 'store/get-the-upperhand-by-hiring-us.png'%></div>
                        <div id="get-the-upper-hand">
                            <h3>Get the Upper hand by hiring us !</h3>
                            <div id="get-the-upperhand-by-hiring-us-p">
                                <p>24/7 availability </p>
                                <p>Level III System Administrator Support </p>
                                <p>15 minutes response time guarantee </p>
                                <p>6 hours resolution time guarantee </p>
                                <p>Unlimited Domains / Servers *</p>
                                <p>100% Transparent Support </p>
                                <p class="noborder">Money Back Guarantee</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row leftmar"><div id="controlpanel-h"><h2>CONTROL PANELS</h2></div></div>
                    <div class="row leftmar">
                        <div class="span9 leftmar">
                            <div class="accordion toggle" id="accordion2">
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                          <p>LINUX</p>
                                          <%= image_tag 'store/linux-img.jpg' %>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in acco-content">
                                        <div class="accordion-inner accordi-inner">
                                        <p>
                                          SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, 
                                            we promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we 
                                            enjoy what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the 
                                            web hosting industry. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Control Panel</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>WHM/cPanel </p><%= image_tag 'store/table-cpanel.png'%></td>
                                                    <td><p>$99 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                                <tr>
                                                    <td><p>Parallels Plesk </p><%= image_tag 'store/table-parallels.png' %></td>
                                                    <td><p>$99 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                                <tr>
                                                    <td><p>DirectAdmin</p><%= image_tag 'store/table-directadmin.png'%></td>
                                                    <td><p>$99 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                          <p>WINDOWS</p>
                                          <%= image_tag 'store/windows-img.jpg'%>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                          <p>
                                           SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, 
                                            we promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we 
                                            enjoy what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the 
                                            web hosting industry. </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Control Panel</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>Parallels Plesk</p><%= image_tag 'store/table-parallels.png'%></td>
                                                    <td><p>$149 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                                <tr>
                                                    <td><p>Dot Net Panel </p><%= image_tag 'store/table-net.png'%></td>
                                                    <td><p>$99 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="accordion-group accoframe">
                                    <div class="accordion-heading acc-heading-right">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                          <p>NO CONTROL PANEL</p>
                                          <%= image_tag 'store/dummy.jpg' %>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse acco-content">
                                        <div class="accordion-inner accordi-inner">
                                            <p>
                                            SupportSages founded by a group of veteran talented professionals offers complete solutions to the web hosting industry. 
                                            Our primary focus is on server maintenance and IT consulting. Formed by the demand of our trusted base of existing clientèle, 
                                            we promise you that we never ever compromise on quality. It's a pledge each of our team members take! We are here because we 
                                            enjoy what we do. Each founder member has minimum of 8 years of server administration experience and at least 6 years in the 
                                            web hosting industry. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="helpdesktable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Operating System</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><p>Linux </p><%= image_tag 'store/table-penguine.png'%></td>
                                                    <td><p>$129 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                                <tr>
                                                    <td><p>Windows</p><%= image_tag 'store/table-window.png'%></td>
                                                    <td><p>$179 Per Server</p><a href="#"><%= image_tag 'store/purchasenow.png'%></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/acccordian-->
                        </div><!--/span9-->
                    </div> <!--/row-->
                </div><!--/span9-->