<div id="menu-first-clmn" class="pull-left">
  <a href="#">
    <%= image_tag "store/helpdesk.png", alt: 'helpdesk', id: 'main-img' %>
  </a>
  <a href="#"><h3 class="main-head">HelpDesk</h3></a>
  <!--<a href="#"><h3 id="support-h">Support</h3></a> -->
  <a href="#">
    <%= image_tag 'store/order_now.png', id: 'ordernow' %>
  </a>
  <a href="#">
    <%= image_tag 'store/helpsupport.png', id: 'helpsupport' %>
  </a>
  <div id="menu-media">
  <a href="#"><%= image_tag 'store/twitter.png' %></a>
  <a href="#"><%= image_tag 'store/facebook.png' %></a>
  <a href="#"><%= image_tag 'store/in.png', alt: 'Linkedin' %></a>
  <a href="#"><%= image_tag 'store/google_plus.jpg' %></a>
  </div>
</div>