<div id="menu-first-clmn" class="pull-left">
  <a href="#">
    <%= image_tag "store/#{string_to_underscore(nav_name)}.png", alt: 'helpdesk', id: 'main-img' %>
  </a>
  <a href="#"><h3 class="main-head"><%= nav_name %></h3></a>
  <!-- <a href="#"><h3 id="support-h"></h3></a> -->
    <%= link_to image_tag('store/order_now.png', id: 'ordernow'),'#' %>
    <%= link_to image_tag('store/helpsupport.png', id: 'helpsupport'),'#' %>
  <div id="menu-media">
  <a href="#"><%= image_tag 'store/twitter.png' %></a>
  <a href="#"><%= image_tag 'store/facebook.png' %></a>
  <a href="#"><%= image_tag 'store/in.png', alt: 'Linkedin' %></a>
  <a href="#"><%= image_tag 'store/google_plus.jpg' %></a>
  </div>
</div>