<div class="container-fluid nav_bg">
            <div class="container">
                <div class="row">
                    <ul id="navigation">
                        <li class="current"><%= link_to 'Home',root_path,id:'home_menu',class:current_class_css('static_pages','index')%></li>
                        <li><%= link_to 'Helpdesk Support',main_app.helpdesk_support_path,id:'helpdesk_support_menu',class: current_class_css('static_pages','helpdesk_support'),href:'helpdesk-support'%>
                            <ul id="helpdesk_support_drop_page">
                                <%= render :partial => 'shared/nav_menu_first_column',:locals => {:nav_name => 'HelpDesk Support'} %>
                                <div id="team_plans_clm" class="pull-left">
                                    <a href="#"><%=image_tag 'store/live_chat_ph_icon.png',id:'menu_icon'%></a>
                                    <%= link_to '/teamplan' do %><p id='team_plans_b'>TEAM PLANS</p><% end %>
                                    <a href="#"><p class="font_size" id="dedicated_h">Dedicated</p></a>
                                    <a href="#"><p class="font_size" id="semi_dedicated_h">Semi dedicated</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">Shared</p></a>
                                </div>    
                                <div id="team_plans_clm" class="pull-left">
                                    <a href="#"><%=image_tag 'store/team_plans_icon.png',id:'menu_icon'%></a>
                                    <a href="helpdesklivechat.html"><p id="team_plans_b">LIVE CHAT/PHONE</p></a>
                                    <a href="#"><p class="font_size" id="dedicated_h">8 hours a day</p></a>
                                    <a href="#"><p class="font_size" id="semi_dedicated_h">12 hours a day</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">Dedicated</p></a>
                                </div>
                                <div id="team_plans_clm" class="pull-left">
                                    <a href="#"><%=image_tag 'store/time_bound_icon.png',id:'menu_icon'%></a>
                                    <a href="helpdesk-timebound.html"><p id="team_plans_b">TIME BOUND</p></a>
                                    <a href="#"><p class="font_size" id="dedicated_h">24 x 7 x 365</p></a>
                                    <a href="#"><p class="font_size" id="semi_dedicated_h">12 x 7 x 365</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">8 x 7 x 365</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">5 days per week</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">Holiday plans</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">Weekend plans</p></a>
                                    <a href="#"><p class="font_size" id="shared_h">Get a custom plans</p></a>
                                </div>
                                <div id="technology_clm" class="pull-left">
                                    <a href="#"><%=image_tag 'store/technologies.png',id:'menu_icon'%></a>
                                    <a href="helpdesk-tickets.html"><p id="technology_b">TICKETS</p></a>
                                    <a href="#"><p class="font_size" id="control_panels">Control panels</p></a>
                                    <a href="#"><p class="tech_color_left" id="whm_cPanel">WHM / cPanel</p></a>
                                    <a href="#"><p class="tech_color_left" id="parallels_plesk">Parallels Plesk</p></a>
                                    <a href="#"><p class="tech_color_left" id="direct_admin">Direct Admin</p></a>
                                    <a href="#"><p class="tech_color_left" id="webmin">Webmin</p></a>
                                    <a href="#"><p class="tech_color_left" id="interworx">Interworx</p></a>
                                    <a href="#"><p class="font_size" id="cloudcomputing">CLOUD COMPUTING</p></a>
                                </div>
                            </ul>
                        </li>
                        <li><%= link_to 'Server Management','#',id:'server_management_menu',class:current_class_css('static_pages','')%>
                            <ul id="server_management_drop_page">
                                <%= render :partial => 'shared/nav_menu_first_column',:locals => {:nav_name => 'Server Management'}  %>
                                <div class="servermanagement pull-left">
                                    <li><a href="#"><%=image_tag 'store/solutions.png',id:'solutions_icon'%></a></li>
                                    <li><a href="#"><p class="menu-heading">SOLUTIONS</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Server Monitoring</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Server Consulting</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Server Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Cloud Computing</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Web Hosting Abuse Specialist Team (WAST)</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Migration Services</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Data Center Migration</p></a></li>
                                    <li><a href="#"><p class="menu-sub">One Time Task</p></a></li>
                                </div>
                                <div class="categories pull-left">
                                    <li><a href="#"><%=image_tag 'store/categories.png',id:'categories_icon'%></a></li>
                                    <li><a href="#"><p class="menu-heading">CATEGORIES</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Dedicated Server Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">VPS Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">For Providers</p></a></li>
                                    <li><a href="#"><p class="menu-sub">For Owners</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Database Server Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Mail Server Management</p></a></li>
                                </div>
                                <div class="script_installation pull-left">
                                    <li><a href="#"><%=image_tag 'store/script_installation.png',id:'script_installation_icon'%></a></li>
                                    <li><a href="#"><p class="menu-heading">SCRIPT INSTALLATION</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Red 5</p></a></li>
                                    <li><a href="#"><p class="menu-sub">cPanel</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Nginx</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Custom</p></a></li>
                                </div>
                            </ul>
                        </li>
                        <li><a id="hire_a_sage_menu" class="nav_a_bg_color" href="#">Hire a Sage</a>
                            <ul id="hire_a_sage_drop_page">
                                <%= render :partial => 'shared/nav_menu_first_column',:locals => {:nav_name => 'Hire a Sage'} %>

                                <div class="helpdesk_icon_clm pull-left">
                                    <li><a href="#"><%=image_tag 'store/help_desk.png',id:'help_desk_icon' %></a></li>
                                    <li><a href="#"><p class="menu-heading">HELP DESK</p></a></li>
                                    <li><a href="#"><p class="menu-sub">LEVEL 1 System Administration</p></a></li>
                                    <li><a href="#"><p class="menu-sub">LEVEL 2 System Administration</p></a></li>
                                    <li><a href="#"><%= image_tag 'store/offers.png',id:'offers'%></a></li>
                                </div>
                                <div class="management_icon_clm pull-left">
                                    <li><a href="#"><%= image_tag 'store/management.png', id:'mgnt_icon' %></a></li>
                                    <li><a href="#"><p class="menu-heading">MANAGEMENT</p></a></li>
                                    <li><a href="#"><p class="menu-sub">LEVEL 3 System Administration</p></a></li>
                                </div>
                                <div class="others_icon_clm pull-left">
                                    <li><a href="#"><%= image_tag 'store/others.png',id:'others_icon'%></a></li>
                                    <li><a href="#"><p class="menu-heading">OTHERS</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Billing / Sales Operator</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Live Chat</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Web Hosting Abuse Specialists</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Hire a Designer</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Hire a Developer</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Hire a SEO Specialist</p></a></li>
                                </div>
                            </ul>
                        </li>
                        <li><a id="focus_areas_menu" class="nav_a_bg_color" href="#">Focus Areas</a>
                            <ul id="focus_areas_drop_page">
                                <%= render :partial => 'shared/nav_menu_first_column',:locals => {:nav_name => 'Focus Areas'} %>

                                <div class="focusarea_icon_clm pull-left">
                                    <li><a href="#"><%= image_tag 'store/focusarea_icon.png',id:'focusarea_icon' %>\</a></li>
                                    <li><a href="#"><p class="menu-heading">FOCUS AREAS</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Hosting Incubator</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Hire a Sage</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Server Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Cloud Administration</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Web Hosting Abuse Specialists Team (WAST)</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Networking Solutions</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Database Management</p></a></li>
                                    <li><a href="#"><p class="menu-sub">PCI Compliance</p></a></li>
                                </div>
                                <div class="pull-left">
                                    <li><a href="#"><%= image_tag 'store/why_choose_ss_icon.png',id:'why_choose_ss_icon'%>\</a></li>
                                    <li><a href="#"><%= image_tag 'store/focusarea_banner.png',id:'focusarea_banner' %></a></li>
                                </div>
                            </ul>
                        </li>
                        <li><%= link_to 'Corporate',main_app.corporate_path,id:'corporate_menu',class:'nav_a_bg_color'%>                            <ul id="corporate_drop_page">
                                <%= render :partial => 'shared/nav_menu_first_column',:locals => {:nav_name => 'Corporate'} %>
                                <div class="corporate_icon_clm pull-left">
                                    <li><a href="#"><%= image_tag 'store/corporate_icon.png',id:'corporate_icon' %></a></li>
                                    <li><a href="#"><p class="menu-heading">THE SAGES</p></a></li>
                                    <li><a href="#"><p class="menu-sub">Our Philosophy</p></a></li>
                                    <li><a href="#"><p class="menu-sub">About Us</p></a></li>
                                    <li><%= link_to main_app.voice_of_customers_path do %><p class='menu-sub'>Voice of Customers</p><% end %></li>
                                    <li><a href="#"><p class="menu-sub">Know Our Sages</p></a></li>
                                    <li><%= link_to main_app.whysupportsages_path do %><p class='menu-sub'>Why SupportSages</p><% end %></li>
                                    <li><a href="#"><p class="menu-sub">SupportSages Blog</p></a></li>
                                    <li><%= link_to main_app.contact_us_path do %><p class='menu-sub'>Contact Us</p><% end %></li>
                                </div>
                                <div class="corporate-rt pull-left">
                                    <li><a href="#"><%= image_tag 'store/help_n_support_tag.png',id:'help_n_support_tag' %></a></li>
                                    <li><a href="#"><%= image_tag 'store/ss_medal_desc.png', id:'ss_medal_desc' %></a></li>
                                </div>   
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>